// fuente
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
body {
    font-family: 'Dosis', sans-serif!important;
}


html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// variables de color 
$color-marino-oscuro: #03285B;
$color-marino: #03306F;
$color-azul: #0A71FF;
$color-celeste: #D7E8FF;
$color-celeste-oscuro: #A2C9FE;

@import './comunes.scss';
@import './navbar/navbar';
@import './home/form';
@import './home/vuelos';