.navbar {
    display: flex;
    align-content: center;
    gap: 20px;
    padding: 12px;
    font-size: 20px;
    height: 28px;
    
    &__logo {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
        & a {
            color: $color-marino-oscuro;
            text-decoration: none;
        }
    }
    &__links {
        &-wrapper{
            display: flex;
            gap: 10px;
            & a {
                color: $color-marino-oscuro;
                text-decoration: none;
                &:hover {
                    color: $color-celeste-oscuro;
                }

            }
        }

    }
}

.numReservas {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    display: inline-block;
    line-height: 16px;
    margin-right: 16px;
    width: 16px;
    background-color: $color-celeste;
    color: $color-marino-oscuro;
    border-radius: 50%;
    height: auto;
}