.home__listaVuelos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    &__wrapper {
        position: relative;
        min-width: 320px;
        height: 500px;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
            inset -5px -5px 15px rgba(255, 255, 255, 0.1),
            5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        margin: 50px;
        transition: 0.5s;

        &__cover {
            color: white;
            position: absolute;
            display: grid;
            justify-content: center;
            text-align: center;
            padding: 20px;
            font-size: 22px;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            background: linear-gradient(90deg, $color-marino-oscuro 25%, $color-marino 0, $color-marino 100%);
            border-radius: 15px;
            overflow: hidden;
            transition: 0.5s;
            &:hover {
                transform: translateY(-50px);
            }

            &__info {
                &__trayecto {
                    margin-top: 10px;
                    font-size: 28px;
                    font-weight: bold;
                }
            }
            &__precioPersona {
              
                & input {
                    font-size: 22px;
                    width: 70px;
                    background-color: $color-marino;
                    color: white;
                    border: none;
                }
            }
            &__personas {
                & label {
                    display: block;
                }

                & input {
                    background-color: $color-celeste;
                    text-align: center;
                    margin-top: 20px;
                    padding: 12px;
                    width: 50px;
                    border: none;
                    font-size: 20px;
                    -webkit-appearance: button;
                    appearance: button;
                    outline: none;   
                }
            }
            &__total {
                & label {
                    display: block;
                }

                & input {
                    text-align: center;
                    font-size: 18px;
                    width: 70px;
                    background-color: $color-marino;
                    color: white;
                    border: none;
                }
            }
            &__btn {
                border: 2px solid $color-celeste-oscuro;
                border-radius: 10px;
                background-color: $color-marino;
                color: $color-celeste-oscuro;
                font-size: 22px;
                font-weight: bold;
                text-transform: uppercase;
                transition: all .5s ease-out;
                font-family: 'Dosis', sans-serif;

                &:hover {
                    background-color:  $color-celeste-oscuro;
                    color: $color-marino-oscuro;
                }
            }
        }
    }
}

/* mediaquery */
@media (max-width: 1230px) {
    .home__listaVuelos {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 840px) {
    /*Mobile View */
    .home__listaVuelos {
        grid-template-columns: 1fr ;
    }
}
@media (max-width: 350px) {
    .home__listaVuelos__wrapper {
        margin: 50px 0;
    }
}